// 地图搜索主体
.left-panel{
	position: absolute;
    left: 20px;
    top: 20px;
    overflow: hidden;
    pointer-events: none;
    font-family: Arial,Helvetica,SimSun,sans-serif;
    font-size:12px;
}
.searchbox{
	border-radius: 2px;
    width: 425px;
    position: relative;
    z-index: 5;
}
.searchbox #searchbox-container {
    position: relative;
    z-index: 2;
    pointer-events: auto;
    width: 368px;
    float: left;
    box-sizing: border-box;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
}
#sole-searchbox-content {
    position: relative;
}
.searchbox-content {
    width: 368px;
	height:38px;
    border-radius: 2px 0 0 2px;
    background: #fff;
}
#sole-searchbox-content.is-complete #sole-input {
    border-right: 10px solid transparent;
}
#sole-searchbox-content #sole-input {
    box-sizing: border-box;
    border: 0;
    padding: 9px 0;
    border-left: 10px solid transparent;
    border-right: 27px solid transparent;
    line-height: 20px;
    font-size: 16px;
    height: 38px;
    color: #333;
    position: relative;
    border-radius: 2px 0 0 2px;
	float: left;
    width: 329px;
}
#sole-searchbox-content .input-clear {
    right: 39px;
}
.searchbox-content .input-clear {
    cursor: pointer;
    position: absolute;
    width: 27px;
    height: 38px;
    top: 0;
    background: url(/static/img/searchbox_f175577.png) no-repeat 0 -114px #fff;
    display: none;
}
.searchbox-content .searchbox-content-button {
    box-sizing: border-box;
    float: left;
    height: 38px;
    width: 39px;
    cursor: pointer;
    position: relative;
}
.searchbox-content .searchbox-content-button.cancel-button {
    background: url(/static/img/searchbox_f175577.png) no-repeat 0 -38px;
}
.searchbox-content .searchbox-content-button.right-button:before {
    content: '';
    position: absolute;
    width: 38px;
    left: 0;
    top: 6px;
    height: 26px;
    border-left: 1px solid #eee;
}
.searchbox #search-button {
    pointer-events: auto;
    background: url(/static/img/searchbox_f175577.png) no-repeat 0 -76px #3385ff;
    width: 57px;
    height: 38px;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
}
.cardlist {
    width: 368px;
    position: relative;
    z-index: 0;
}
.cardlist .card.animated-card {
    -webkit-animation-name: card-drop;
    animation-name: card-drop;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
.cardlist .card {
    pointer-events: auto;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    border-radius: 2px;
    -webkit-transition: max-height .5s;
    transition: max-height .5s;
}
.cardlist .card>* {
    -webkit-transition: opacity 1s,visibility 1s;
    transition: opacity 1s,visibility 1s;
}
#caterFilter {
    font-size: 12px;
    position: relative;
    zoom: 1;
}
#caterFilter .toolbar {
    border: 1px solid #d5d8dc;
    background-color: #f8f9fc;
    margin: 10px 0;
    zoom: 1;
}
#caterFilter ul, #caterFilter li {
    padding: 0;
    margin: 0;
}
#caterFilter .tool-item {
    float: left;
    width: 114px;
    line-height: 14px;
    padding: 6px 0;
    text-align: center;
    cursor: pointer;
    zoom: 1;
    cursor: pointer;
    position: relative;
}
#caterFilter .tool-item label {
    cursor: pointer;
}
#caterFilter .tool-item .icon-cater {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 4px;
    width: 7px;
    background: url(/static/img/arrow_f151794.png) no-repeat;
}
#caterFilter .tool-item .arrow {
    background-position: -11px 0;
    margin-left: 6px;
}
.clearfix { 
    *zoom: 1; 
} 
.clearfix:before, .clearfix:after { 
    display: table; 
    line-height: 0; 
    content: ""; 
} 
.clearfix:after { 
    clear: both; 
}
.label {
    color: #999;
    font-weight: 400;
}
#caterFilter.city-panel .city-item .arrow, #caterFilter.tag-panel .tag-item .arrow, #caterFilter.sort-panel .sort-item .arrow {
    background-position: 0 0;
    top: 9px;
}
#caterFilter.city-panel .toolbar .city-item, #caterFilter.tag-panel .toolbar .tag-item, #caterFilter.sort-panel .toolbar .sort-item {
    background-color: #fff;
    position: relative;
    bottom: -1px;
    padding-top: 5px;
    padding-bottom: 7px;
}
#caterFilter .botn-line {
    border-right: 1px solid #eaeaef;
    border-left: 1px solid #eaeaef;
}
#caterFilter.city-panel .select-panel-city, #caterFilter.tag-panel .select-panel-tag, #caterFilter.sort-panel .select-panel-sort {
    display: block;
}
#caterFilter .select-panel-city, #caterFilter .select-panel-tag {
    box-sizing: border-box;
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #f8f9fc;
    width: 100%;
    border: 1px solid #d5d8dc;
    border-top: 0;
    left: 0;
    top: 28px;
    overflow: hidden;
}
#caterFilter .select-panel-city .hd-list-wrap {
    float: left;
    width: 114px;
    background-color: #fff;
    border-right: 1px solid #eaeaef;
    background-color: #fff;
    margin-bottom: -10000px;
    padding-bottom: 10000px;
}
#caterFilter ul, #caterFilter li {
    padding: 0;
    margin: 0;
}
#caterFilter .select-panel-city .hd-list .label {
    display: block;
    padding-left: 23px;
    margin-left: 4px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #fff;
    cursor: pointer;
}
#caterFilter .select-panel-city .hd-list .active .label {
    border: 1px solid #eaeaef;
    background-color: #f8f9fc;
    border-right: 1px solid #f8f9fc;
    position: relative;
    right: -1px;
    padding-left: 22px;
}
#caterFilter .select-panel-city .bd-list {
    padding: 10px 13px;
    width: 155px;
    float: left;
}
#caterFilter .select-panel-city .bd-list li {
    display: inline-block;
    margin-bottom: 5px;
}
#caterFilter .select-panel-city .bd-list .item {
    display: block;
    padding: 0 5px;
    line-height: 20px;
    height: 20px;
    text-decoration: none;
    color: #333;
}
form, p, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, tr, th, td, input {
    margin: 0;
    padding: 0;
}
#caterFilter.city-panel .select-panel-city, #caterFilter.tag-panel .select-panel-tag, #caterFilter.sort-panel .select-panel-sort {
    display: block;
}
#caterFilter .select-panel-tag {
    display: none;
    padding: 10px 0 5px;
    height: auto;
}
#caterFilter .select-panel-tag {
    background-color: #fff;
}
#caterFilter .select-panel-tag dt {
    float: left;
    text-align: right;
    width: 54px;
    color: #369;
}
#caterFilter .select-panel-tag dt h3, #caterFilter .select-panel-tag dt h2 {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    font-weight: 400;
}
#caterFilter .select-panel-tag dt h2 {
    font-weight: 700;
    color: #333;
}
#caterFilter .select-panel-tag dd {
    float: left;
    color: #369;
    width: 233px;
    text-align: left;
}
#caterFilter .select-panel-tag .tag-list {
    padding: 0 10px;
    margin-bottom: 5px;
}
#caterFilter .select-panel-tag .tag-list li {
    display: inline-block;
}
#caterFilter .select-panel-tag .tag-list .item {
    display: inline-block;
    padding: 0 5px;
    line-height: 20px;
    height: 20px;
    text-decoration: none;
    color: #666;
}
#caterFilter .select-panel-tag .tag-list .item:hover {
    background-color: #deeaff;
    text-decoration: none;
    color: #3f61b1;
}
#caterFilter .select-panel-sort {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d5d8dc;
    border-top: 0;
    left: 0;
    top: 28px;
    height: auto;
}
#caterFilter .select-panel-sort .item {
    display: block;
    line-height: 25px;
    height: 25px;
    text-decoration: none;
    color: #333;
    text-align: center;
}
#caterFilter .select-panel-sort .item:hover {
    background-color: #f6f6f6;
    text-decoration: none;
}
// 列表项
.poilist {
    padding: 5px 0 0;
}
.search-item {
    padding: 6px 0;
}
.mb_5 {
    margin-bottom: 5px!important;
}
.search-item .col-l {
    float: left;
}
.search-item:hover {
    background-color: #f6f6f6;
    cursor: pointer;
}
.search-item .no {
    background-image: url(/static/img/markers_new2_4ab0bc5.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
}
.search-item .no-1{
    background-position: 0 -139px;
}
.search-item:hover .no-1{
    background-position: 0 -166px;
}
.search-item .no-2{
    background-position: -18px -139px;
}
.search-item:hover .no-2{
    background-position: -18px -166px;
}
.search-item .no-3{
    background-position: -36px -139px;
}
.search-item:hover .no-3{
    background-position: -36px -166px;
}
.search-item .no-4{
    background-position: -54px -139px;
}
.search-item:hover .no-4{
    background-position: -54px -166px;
}
.search-item .no-5{
    background-position: -72px -139px;
}
.search-item:hover .no-5{
    background-position: -72px -166px;
}
.search-item .no-6{
    background-position: -90px -139px;
}
.search-item:hover .no-6{
    background-position: -90px -166px;
}
.search-item .no-7{
    background-position: -108px -139px;
}
.search-item:hover .no-7{
    background-position: -108px -166px;
}
.search-item .no-8{
    background-position: -126px -139px;
}
.search-item:hover .no-8{
    background-position: -126px -166px;
}
.search-item .no-9{
    background-position: -144px -139px;
}
.search-item:hover .no-9{
    background-position: -144px -166px;
}
.search-item .no-10{
    background-position: -162px -139px;
}
.search-item:hover .no-10{
    background-position: -162px -166px;
}
.search-item .col-r {
    float: right;
    width: 75px;
    margin-right: 10px;
    text-align: right;
}
.mt_5 {
    margin-top: 5px!important;
}
.h_20 {
    height: 20px;
}
.search-item .street-pano {
    background-image: url(/static/img/camera_54c6ca4.png);
    width: 13px;
    height: 17px;
    display: inline-block;
    background-position: 0 26px;
    line-height: 17px;
    float: right;
}
.search-item .img-wrap {
    position: relative;
}
.mr_90 {
    margin-right: 90px;
}
.ml_30 {
    margin-left: 30px!important;
}
.search-item .row, .search-item .select-row, .search-item .content-des {
    padding: 5px 0;
    line-height: 1.2;
    text-align: left;
}
.n-blue {
    color: #3385ff!important;
}
.cardlist .card a {
    text-decoration: none;
}
.search-item .seperate {
    color: #dcdcdc;
    margin: 0 6px;
}
.cardlist .card a.detail{
    text-decoration: underline;
    color:#ff9429;
    cursor: pointer;
}
// 分页
#poi_page {
    margin: 5px 0 0;
}
.page {
    font-family: "宋体",sans-serif;
    text-align: center;
    line-height: 12px;
    font-size: 13px;
}
.page span.curPage {
    padding: 4px 5px;
    font-weight: 700;
}
.page span {
    display: inline-block;
    margin: 0 2px;
}
.page a {
    display: inline-block;
    border: #e7ecf0 solid 1px;
    padding: 5px 6px 3px;
    text-decoration: none;
}